[Reference](https://python.plainenglish.io/statistics-for-financial-traders-using-python-4af1860a143c)

In [1]:
import requests
import json
import datetime as dt
import pandas as pd

In [2]:
url = 'https://api.binance.com/'
endpoint = 'api/v3/klines'

base = 'BTC'
quote = 'USDT' 

symbol = base+quote
interval = '1d'
limit = 1000

start = dt.datetime(2020,1,1); end = dt.datetime(2020,2,1)
startTime = int(dt.datetime.timestamp(start)*1000); endTime = int(dt.datetime.timestamp(end)*1000)

fromtime = lambda time: dt.datetime.fromtimestamp(time[0]/1000).strftime('%a %d %b, %Y %H:%M:%S')
totime = lambda time: dt.datetime.fromtimestamp(time[6]/1000).strftime('%a %d %b, %Y %H:%M:%S')

In [3]:
href = f"{url}{endpoint}?symbol={symbol}&interval={interval}&startTime={startTime}&endTime={endTime}&limit={limit}"

data = requests.get(href).json()
open_times = list(map(fromtime, data)); close_times = list(map(totime,data))

print(data)

[[1577836800000, '7195.24000000', '7255.00000000', '7175.15000000', '7200.85000000', '16792.38816500', 1577923199999, '121214452.11606228', 194010, '8946.95553500', '64597785.21233434', '0'], [1577923200000, '7200.77000000', '7212.50000000', '6924.74000000', '6965.71000000', '31951.48393200', 1578009599999, '225982341.30114030', 302667, '15141.61134000', '107060829.07806464', '0'], [1578009600000, '6965.49000000', '7405.00000000', '6871.04000000', '7344.96000000', '68428.50045100', 1578095999999, '495098582.96203543', 519854, '35595.49627300', '257713113.85172859', '0'], [1578096000000, '7345.00000000', '7404.00000000', '7272.21000000', '7354.11000000', '29987.97497700', 1578182399999, '219874240.93994811', 279370, '16369.38224800', '120035111.72407165', '0'], [1578182400000, '7354.19000000', '7495.00000000', '7318.00000000', '7358.75000000', '38331.08560400', 1578268799999, '284848683.78917621', 329209, '19455.36956400', '144600094.38965074', '0'], [1578268800000, '7357.64000000', '7795.34000000', '7346.76000000', '7758.00000000', '54635.69531600', 1578355199999, '413330481.22604919', 449937, '28853.76777000', '218411610.65942464', '0'], [1578355200000, '7758.90000000', '8207.68000000', '7723.71000000', '8145.28000000', '91171.68466100', 1578441599999, '724202791.14296263', 685315, '46192.11154900', '366866967.61393177', '0'], [1578441600000, '8145.92000000', '8455.00000000', '7870.00000000', '8055.98000000', '112622.64264000', 1578527999999, '926410232.60450582', 830375, '55071.10951400', '453284250.45453957', '0'], [1578528000000, '8054.72000000', '8055.96000000', '7750.00000000', '7817.76000000', '64239.51983000', 1578614399999, '507258250.47487964', 478800, '31645.75922100', '249899679.33440103', '0'], [1578614400000, '7817.74000000', '8199.00000000', '7672.00000000', '8197.02000000', '82406.77744800', 1578700799999, '652774220.38843703', 606101, '42361.75530700', '335845385.67483303', '0'], [1578700800000, '8198.86000000', '8286.34000000', '8003.16000000', '8020.01000000', '54810.03266700', 1578787199999, '445034349.56470204', 469131, '27916.12497400', '226716001.44288607', '0'], [1578787200000, '8020.01000000', '8197.00000000', '7960.00000000', '8184.98000000', '38131.49433600', 1578873599999, '309351920.45885002', 350662, '19718.54109600', '159972663.99291870', '0'], [1578873600000, '8184.97000000', '8196.00000000', '8055.89000000', '8110.34000000', '31159.75568300', 1578959999999, '252656965.35815013', 289144, '15215.22650100', '123407351.91807934', '0'], [1578960000000, '8110.34000000', '8880.00000000', '8105.54000000', '8810.01000000', '120399.12674200', 1579046399999, '1032735180.86587384', 915328, '62492.09667600', '536081638.05418570', '0'], [1579046400000, '8814.64000000', '8916.48000000', '8564.00000000', '8821.41000000', '84816.29760600', 1579132799999, '743712237.27908164', 764048, '42493.55102600', '372770745.17929917', '0'], [1579132800000, '8820.01000000', '8859.81000000', '8586.00000000', '8720.01000000', '51991.07428400', 1579219199999, '451752380.28108111', 543064, '25996.30135000', '225914888.37777233', '0'], [1579219200000, '8720.15000000', '9041.65000000', '8672.44000000', '8913.28000000', '70897.73737700', 1579305599999, '629568740.70700897', 676403, '36139.80884500', '320997160.95891669', '0'], [1579305600000, '8913.27000000', '8988.88000000', '8806.38000000', '8915.96000000', '38294.74654500', 1579391999999, '340852837.91608031', 458182, '19421.29531300', '172895403.23974317', '0'], [1579392000000, '8915.09000000', '9198.98000000', '8466.00000000', '8701.70000000', '70676.88925900', 1579478399999, '623950864.27629280', 615665, '33655.94324100', '297282818.09315907', '0'], [1579478400000, '8701.72000000', '8746.99000000', '8521.28000000', '8642.35000000', '38896.63974600', 1579564799999, '336447837.00180591', 385006, '19453.86378200', '168293007.48754648', '0'], [1579564800000, '8642.35000000', '8789.00000000', '8488.00000000', '8736.03000000', '36494.68765900', 1579651199999, '316056704.98473800', 365621, '18731.87163700', '162303157.94279355', '0'], [1579651200000, '8736.04000000', '8818.00000000', '8590.00000000', '8682.36000000', '29080.55713800', 1579737599999, '252638888.21492550', 317424, '14477.15751200', '125794389.99554266', '0'], [1579737600000, '8682.77000000', '8691.81000000', '8306.39000000', '8404.52000000', '48165.94459700', 1579823999999, '407428808.67533703', 464805, '23287.71244400', '196965082.04041370', '0'], [1579824000000, '8404.52000000', '8528.02000000', '8238.00000000', '8439.00000000', '41687.52952900', 1579910399999, '349874174.79003938', 407271, '21293.48958600', '178752179.11477745', '0'], [1579910400000, '8438.99000000', '8451.26000000', '8254.90000000', '8340.58000000', '25521.15793200', 1579996799999, '212869245.63589778', 283118, '13076.75278600', '109098245.22427255', '0'], [1579996800000, '8340.01000000', '8618.13000000', '8293.66000000', '8615.00000000', '31130.48516400', 1580083199999, '263941925.27299900', 332612, '15797.91126700', '133936210.14356350', '0'], [1580083200000, '8614.39000000', '9000.00000000', '8535.00000000', '8907.57000000', '53973.54299600', 1580169599999, '473194952.80446884', 514196, '28592.32652100', '250794158.80919072', '0'], [1580169600000, '8907.57000000', '9400.00000000', '8862.40000000', '9374.21000000', '74584.85376500', 1580255999999, '676593159.48233962', 616678, '38852.36324600', '352558461.21538207', '0'], [1580256000000, '9375.34000000', '9449.24000000', '9216.00000000', '9301.53000000', '53864.06512200', 1580342399999, '503188568.83635783', 492545, '26615.65132900', '248688826.41119043', '0'], [1580342400000, '9301.57000000', '9578.00000000', '9204.44000000', '9513.21000000', '60626.74425900', 1580428799999, '569652869.81968368', 529570, '30852.55545000', '290043577.43928681', '0'], [1580428800000, '9511.52000000', '9530.22000000', '9210.01000000', '9352.89000000', '45552.02235200', 1580515199999, '425779010.40653666', 428547, '22482.47089900', '210150300.22227438', '0'], [1580515200000, '9351.71000000', '9464.53000000', '9281.00000000', '9384.61000000', '28578.06735400', 1580601599999, '268137739.99333750', 334972, '14679.12630500', '137764121.89168733', '0']]

In [4]:
data_df = pd.DataFrame(data,columns = ["OpenTime", "Open", "High", "Low", "Close",f"{base} Volume","CloseTime",f"{quote} Volume","No. of trades", f"Taker Buy ({base})", f"Taker Buy ({quote})", "Ignore"]).iloc[:, :5]
data_df['OpenTime'] = open_times
data_df['CloseTime'] = close_times

data_df.iloc[:, 1:5] = data_df.iloc[:, 1:5].astype(float).round(decimals=2)

data_df

,OpenTime,Open,High,Low,Close,CloseTime
0,"Wed 01 Jan, 2020 00:00:00",7195.24,7255.00,7175.15,7200.85,"Wed 01 Jan, 2020 23:59:59"
1,"Thu 02 Jan, 2020 00:00:00",7200.77,7212.50,6924.74,6965.71,"Thu 02 Jan, 2020 23:59:59"
2,"Fri 03 Jan, 2020 00:00:00",6965.49,7405.00,6871.04,7344.96,"Fri 03 Jan, 2020 23:59:59"
3,"Sat 04 Jan, 2020 00:00:00",7345.00,7404.00,7272.21,7354.11,"Sat 04 Jan, 2020 23:59:59"
4,"Sun 05 Jan, 2020 00:00:00",7354.19,7495.00,7318.00,7358.75,"Sun 05 Jan, 2020 23:59:59"
5,"Mon 06 Jan, 2020 00:00:00",7357.64,7795.34,7346.76,7758.00,"Mon 06 Jan, 2020 23:59:59"
6,"Tue 07 Jan, 2020 00:00:00",7758.90,8207.68,7723.71,8145.28,"Tue 07 Jan, 2020 23:59:59"
7,"Wed 08 Jan, 2020 00:00:00",8145.92,8455.00,7870.00,8055.98,"Wed 08 Jan, 2020 23:59:59"
8,"Thu 09 Jan, 2020 00:00:00",8054.72,8055.96,7750.00,7817.76,"Thu 09 Jan, 2020 23:59:59"
9,"Fri 10 Jan, 2020 00:00:00",7817.74,8199.00,7672.00,8197.02,"Fri 10 Jan, 2020 23:59:59"
10,"Sat 11 Jan, 2020 00:00:00",8198.86,8286.34,8003.16,8020.01,"Sat 11 Jan, 2020 23:59:59"
11,"Sun 12 Jan, 2020 00:00:00",8020.01,8197.00,7960.00,8184.98,"Sun 12 Jan, 2020 23:59:59"
12,"Mon 13 Jan, 2020 00:00:00",8184.97,8196.00,8055.89,8110.34,"Mon 13 Jan, 2020 23:59:59"
13,"Tue 14 Jan, 2020 00:00:00",8110.34,8880.00,8105.54,8810.01,"Tue 14 Jan, 2020 23:59:59"
14,"Wed 15 Jan, 2020 00:00:00",8814.64,8916.48,8564.00,8821.41,"Wed 15 Jan, 2020 23:59:59"
15,"Thu 16 Jan, 2020 00:00:00",8820.01,8859.81,8586.00,8720.01,"Thu 16 Jan, 2020 23:59:59"
16,"Fri 17 Jan, 2020 00:00:00",8720.15,9041.65,8672.44,8913.28,"Fri 17 Jan, 2020 23:59:59"
17,"Sat 18 Jan, 2020 00:00:00",8913.27,8988.88,8806.38,8915.96,"Sat 18 Jan, 2020 23:59:59"
18,"Sun 19 Jan, 2020 00:00:00",8915.09,9198.98,8466.00,8701.70,"Sun 19 Jan, 2020 23:59:59"
19,"Mon 20 Jan, 2020 00:00:00",8701.72,8746.99,8521.28,8642.35,"Mon 20 Jan, 2020 23:59:59"
20,"Tue 21 Jan, 2020 00:00:00",8642.35,8789.00,8488.00,8736.03,"Tue 21 Jan, 2020 23:59:59"
21,"Wed 22 Jan, 2020 00:00:00",8736.04,8818.00,8590.00,8682.36,"Wed 22 Jan, 2020 23:59:59"
22,"Thu 23 Jan, 2020 00:00:00",8682.77,8691.81,8306.39,8404.52,"Thu 23 Jan, 2020 23:59:59"
23,"Fri 24 Jan, 2020 00:00:00",8404.52,8528.02,8238.00,8439.00,"Fri 24 Jan, 2020 23:59:59"
24,"Sat 25 Jan, 2020 00:00:00",8438.99,8451.26,8254.90,8340.58,"Sat 25 Jan, 2020 23:59:59"
25,"Sun 26 Jan, 2020 00:00:00",8340.01,8618.13,8293.66,8615.00,"Sun 26 Jan, 2020 23:59:59"
26,"Mon 27 Jan, 2020 00:00:00",8614.39,9000.00,8535.00,8907.57,"Mon 27 Jan, 2020 23:59:59"
27,"Tue 28 Jan, 2020 00:00:00",8907.57,9400.00,8862.40,9374.21,"Tue 28 Jan, 2020 23:59:59"
28,"Wed 29 Jan, 2020 00:00:00",9375.34,9449.24,9216.00,9301.53,"Wed 29 Jan, 2020 23:59:59"
29,"Thu 30 Jan, 2020 00:00:00",9301.57,9578.00,9204.44,9513.21,"Thu 30 Jan, 2020 23:59:59"
30,"Fri 31 Jan, 2020 00:00:00",9511.52,9530.22,9210.01,9352.89,"Fri 31 Jan, 2020 23:59:59"
31,"Sat 01 Feb, 2020 00:00:00",9351.71,9464.53,9281.00,9384.61,"Sat 01 Feb, 2020 23:59:59"

In [5]:
data_df.to_csv("btcusdt_jan_2020.csv", index=False)

In [6]:
import numpy as np
import pandas as pd
from prettytable import PrettyTable

In [7]:
df = pd.read_csv("btcusdt_jan_2020.csv")
df

,OpenTime,Open,High,Low,Close,CloseTime
0,"Wed 01 Jan, 2020 00:00:00",7195.24,7255.00,7175.15,7200.85,"Wed 01 Jan, 2020 23:59:59"
1,"Thu 02 Jan, 2020 00:00:00",7200.77,7212.50,6924.74,6965.71,"Thu 02 Jan, 2020 23:59:59"
2,"Fri 03 Jan, 2020 00:00:00",6965.49,7405.00,6871.04,7344.96,"Fri 03 Jan, 2020 23:59:59"
3,"Sat 04 Jan, 2020 00:00:00",7345.00,7404.00,7272.21,7354.11,"Sat 04 Jan, 2020 23:59:59"
4,"Sun 05 Jan, 2020 00:00:00",7354.19,7495.00,7318.00,7358.75,"Sun 05 Jan, 2020 23:59:59"
5,"Mon 06 Jan, 2020 00:00:00",7357.64,7795.34,7346.76,7758.00,"Mon 06 Jan, 2020 23:59:59"
6,"Tue 07 Jan, 2020 00:00:00",7758.90,8207.68,7723.71,8145.28,"Tue 07 Jan, 2020 23:59:59"
7,"Wed 08 Jan, 2020 00:00:00",8145.92,8455.00,7870.00,8055.98,"Wed 08 Jan, 2020 23:59:59"
8,"Thu 09 Jan, 2020 00:00:00",8054.72,8055.96,7750.00,7817.76,"Thu 09 Jan, 2020 23:59:59"
9,"Fri 10 Jan, 2020 00:00:00",7817.74,8199.00,7672.00,8197.02,"Fri 10 Jan, 2020 23:59:59"
10,"Sat 11 Jan, 2020 00:00:00",8198.86,8286.34,8003.16,8020.01,"Sat 11 Jan, 2020 23:59:59"
11,"Sun 12 Jan, 2020 00:00:00",8020.01,8197.00,7960.00,8184.98,"Sun 12 Jan, 2020 23:59:59"
12,"Mon 13 Jan, 2020 00:00:00",8184.97,8196.00,8055.89,8110.34,"Mon 13 Jan, 2020 23:59:59"
13,"Tue 14 Jan, 2020 00:00:00",8110.34,8880.00,8105.54,8810.01,"Tue 14 Jan, 2020 23:59:59"
14,"Wed 15 Jan, 2020 00:00:00",8814.64,8916.48,8564.00,8821.41,"Wed 15 Jan, 2020 23:59:59"
15,"Thu 16 Jan, 2020 00:00:00",8820.01,8859.81,8586.00,8720.01,"Thu 16 Jan, 2020 23:59:59"
16,"Fri 17 Jan, 2020 00:00:00",8720.15,9041.65,8672.44,8913.28,"Fri 17 Jan, 2020 23:59:59"
17,"Sat 18 Jan, 2020 00:00:00",8913.27,8988.88,8806.38,8915.96,"Sat 18 Jan, 2020 23:59:59"
18,"Sun 19 Jan, 2020 00:00:00",8915.09,9198.98,8466.00,8701.70,"Sun 19 Jan, 2020 23:59:59"
19,"Mon 20 Jan, 2020 00:00:00",8701.72,8746.99,8521.28,8642.35,"Mon 20 Jan, 2020 23:59:59"
20,"Tue 21 Jan, 2020 00:00:00",8642.35,8789.00,8488.00,8736.03,"Tue 21 Jan, 2020 23:59:59"
21,"Wed 22 Jan, 2020 00:00:00",8736.04,8818.00,8590.00,8682.36,"Wed 22 Jan, 2020 23:59:59"
22,"Thu 23 Jan, 2020 00:00:00",8682.77,8691.81,8306.39,8404.52,"Thu 23 Jan, 2020 23:59:59"
23,"Fri 24 Jan, 2020 00:00:00",8404.52,8528.02,8238.00,8439.00,"Fri 24 Jan, 2020 23:59:59"
24,"Sat 25 Jan, 2020 00:00:00",8438.99,8451.26,8254.90,8340.58,"Sat 25 Jan, 2020 23:59:59"
25,"Sun 26 Jan, 2020 00:00:00",8340.01,8618.13,8293.66,8615.00,"Sun 26 Jan, 2020 23:59:59"
26,"Mon 27 Jan, 2020 00:00:00",8614.39,9000.00,8535.00,8907.57,"Mon 27 Jan, 2020 23:59:59"
27,"Tue 28 Jan, 2020 00:00:00",8907.57,9400.00,8862.40,9374.21,"Tue 28 Jan, 2020 23:59:59"
28,"Wed 29 Jan, 2020 00:00:00",9375.34,9449.24,9216.00,9301.53,"Wed 29 Jan, 2020 23:59:59"
29,"Thu 30 Jan, 2020 00:00:00",9301.57,9578.00,9204.44,9513.21,"Thu 30 Jan, 2020 23:59:59"
30,"Fri 31 Jan, 2020 00:00:00",9511.52,9530.22,9210.01,9352.89,"Fri 31 Jan, 2020 23:59:59"
31,"Sat 01 Feb, 2020 00:00:00",9351.71,9464.53,9281.00,9384.61,"Sat 01 Feb, 2020 23:59:59"

In [8]:
def mean(data: list, days: int = 14) -> float:
    return round(sum(data[-days:]) / len(data[-days:]),2)

In [9]:
def mean(series: pd.Series, days: int = 14) -> float:
    return round(series.iloc[-days:].mean(),2)

In [10]:
def mean(series: pd.Series, days: int = 14) -> float:
    return round(series.iloc[-days:].mean(),2)

series = df['Close']
mean_price = mean(series)
print(f"${mean_price}")

$8885.4

In [11]:
def mean(data: list, days: int = 14) -> float:
    return round(sum(data[-days:]) / len(data[-days:]),2)

series = df['Close'].to_list()
mean_price = mean(series)
print(f"${mean_price}")

$8885.4

In [12]:
def median(data: list, days: int = 14) -> float:
    data = sorted(data[-days:])
    length = len(data)
    half = int(length / 2)
    
    if length % 2 == 0:
        new = data[half-1:half+1]
        return round(sum(new) / len(new),2)
    else:
        return data[half]

In [13]:
def median(data: pd.Series, days: int = 14) -> int:
	"""Returns the median of a Pandas series:
	Args:
		data (pd.Series): Set of observations
		days (int): Number of days. Defaults to 14.
	Returns:
		int
	"""
	return round(series.iloc[-days:].median(),2)

In [15]:
def median(data: pd.Series, days: int = 14) -> int:
    return round(series.iloc[-days:].median(),2)

series = df['Close']
mid_price = median(series,14)
print(f"${mid_price}")

$8718.87

In [16]:
def median(data: list, days: int = 14) -> list:
    data = sorted(data[-days:])
    length = len(data)
    
    if length % 2 == 0:
        half = int(length/2)
        new = data[half-1:half+1]
        return round(sum(new) / len(new), 2)
    else:
        half = int(length/2)
        return data[half]

series = df['Close'].to_list()
mid_price = median(series,14)
print(f"${mid_price}")

$8718.87

In [17]:
def mode(data: list):
    return max(set(data), key=data.count)

In [18]:
def mode(data: pd.Series):
    return data.mode()

In [19]:
def mode(data: pd.Series):
   return data.mode()

series = df['Close']
print(mode(series))

0     6965.71
1     7200.85
2     7344.96
3     7354.11
4     7358.75
5     7758.00
6     7817.76
7     8020.01
8     8055.98
9     8110.34
10    8145.28
11    8184.98
12    8197.02
13    8340.58
14    8404.52
15    8439.00
16    8615.00
17    8642.35
18    8682.36
19    8701.70
20    8720.01
21    8736.03
22    8810.01
23    8821.41
24    8907.57
25    8913.28
26    8915.96
27    9301.53
28    9352.89
29    9374.21
30    9384.61
31    9513.21
dtype: float64

In [21]:
def prec(num: int):
    """Returns the number of decimal places"""
    # check if there is a decimal in the stringed numnber
    if '.' in str(num):
        # looks for the decimal point index
        ind = str(num).index('.')
        # returns the number of characters from the decimal...
        # point to the end of the number
        return len(str(num)[ind:]) - 1
    else:
        # returns 0 if no decimal point is found
        return 0

def count_range(data: list, interval: tuple):
    """Returns the number of elements in a list
    within a specified range
    """
    ctr = 0
    for k in sorted(data):
        if interval[0] <= k <= interval[1]:
            ctr += 1
    return ctr

def grouped_frequency(data: list) -> dict:
    # creates empty lists for upper and lower class limits
    lcls = list()
    ucls = list()

    # empty dictionary for classes and frequency
    freq = {
        "Zones" : [],
        "Frequency (f)" : []
    }
    
    # STEP 1: Determine range of data
    data_range = round(max(data) - min(data),2)
    
    # Derive decimal points
    val = prec(data_range)

    # STEP 2: Calculate no. of classes
    no_class = round(1 + 3.332 * math.log10(len(data)),val)
    
    # STEP 3: Determine an approximate class size
    class_size = round(data_range/no_class,val) # change

    # STEP 4: Decide starting point or lowest class limit
    start = min(data)

    # STEP 5: Determine the remaining class limits
    for i in np.arange(1,no_class+1):
        lcl = round(start,val)
        start += class_size
        ucl  = round(start-0.01,val) # change
        
        # append derived class limits
        lcls.append(lcl)
        ucls.append(ucl)

    # STEP 6: Distribute the respective classes and count
    for class_limits in zip(lcls, ucls):
        # count no. of items in a class interval
        frequency = count_range(data, class_limits)
        
        # append class and frequency
        freq['Zones'].append(f'${class_limits[0]} - ${class_limits[1]}')
        freq['Frequency (f)'].append(frequency)

    # return classes and frequency
    return freq

In [23]:
import math

In [24]:
series = df['Close'].to_list()
freq = grouped_frequency(series)
keys = list(freq.keys())

# Create the table with column names from the returned dictionary
table = PrettyTable([keys[0], keys[1]], title="BTCUSDT Zones (1 Jan. - 31 Jan. 2020)")

# append nested lists to the table
for i, j in zip(freq['Zones'], freq['Frequency (f)']):
    table.add_row([i, j])

print(table)

+----------------------------------------+
| BTCUSDT Zones (1 Jan. - 31 Jan. 2020)  |
+----------------------+-----------------+
|        Zones         |  Frequency (f)  |
+----------------------+-----------------+
|  $6965.7 - $7390.3   |        5        |
|  $7390.3 - $7814.9   |        1        |
|  $7814.9 - $8239.5   |        7        |
|  $8239.5 - $8664.1   |        5        |
|  $8664.1 - $9088.7   |        9        |
|  $9088.7 - $9513.3   |        5        |
+----------------------+-----------------+