[Reference](https://medium.com/@sayahfares19/21-pandas-tips-every-data-scientist-should-know-97c930638e9c)

# 1: Print DataFrame in Markdown-friendly format

In [1]:
import pandas as pd

df = pd.DataFrame({'a': [1, 2, 3, 4],
                   'b': [5, 6, 7, 8]})

# You can control the printing of the index column by using the flag index.
print(df.to_markdown(index=True))

|    |   a |   b |
|---:|----:|----:|
|  0 |   1 |   5 |
|  1 |   2 |   6 |
|  2 |   3 |   7 |
|  3 |   4 |   8 |

In [2]:
# Ouput markdown with a tabulate option
print(df.to_markdown(tablefmt="grid", index=True))

# To create a markdown file from the dataframe, pass
# the file name as paramters
print(df.to_markdown("README.md", tablefmt="grid", index=True))

+----+-----+-----+
|    |   a |   b |
+====+=====+=====+
|  0 |   1 |   5 |
+----+-----+-----+
|  1 |   2 |   6 |
+----+-----+-----+
|  2 |   3 |   7 |
+----+-----+-----+
|  3 |   4 |   8 |
+----+-----+-----+
None

# 2: Group rows into a list

In [3]:
import pandas as pd

df = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 3],
        "col2": ["a", "a", "b", "b", "c"],
        "col3": ["d", "e", "f", "g", "h"],
    }
)

# Group by col2
df.groupby(["col2"]).agg(
    {
        "col1": "mean",           # get mean
        "col3": lambda x: list(x) # get list
    }
)

      col1    col3
col2
a      1.5  [d, e]
b      3.5  [f, g]
c      3.0     [h]

# 3: DataFrame.explode()

In [4]:
import pandas as pd

df = pd.DataFrame({"a": ["1,2", "4,5"],
                   "b": [11, 13]})

# Turn strings into lists
df.a = df.a.str.split(",")
df

        a   b
0  [1, 2]  11
1  [4, 5]  13

# 4: DataFrame.copy()

In [5]:
import pandas as pd

df = pd.DataFrame({"col1": [1, 2, 3],
                   "col2": [4, 5, 6]})

df2 = df # Make a copy using =
df2["col1"] = [7, 8, 9]
df # df also changes

   col1  col2
0     7     4
1     8     5
2     9     6

In [6]:
# Recrate df
df = pd.DataFrame({"col1": [1, 2, 3],
                   "col2": [4, 5, 6]})

df3 = df.copy() # Create a copy of df
df3["col1"] = [7, 8, 9]
df # df doesn't change

   col1  col2
0     1     4
1     2     5
2     3     6

# 5: Groupby().count vs Groupby( ).size

In [7]:
import pandas as pd

df = pd.DataFrame(
    {
        "col1": ["a", "b", "b", "c", "c", "d"],
        "col2": ["S", "S", "M", "L", "L", "L"]
    }
)

# get the count of elements in one column
df.groupby(["col1"]).count()

      col2
col1
a        1
b        2
c        2
d        1

# 6: Correlation

In [8]:
import pandas as pd

df1 = pd.DataFrame({
    "a": [1, 2, 3, 4],
    "b": [2, 3, 4, 6]
})

df2 = pd.DataFrame({
    "a": [1, 2, 3, 3],
    "b": [2, 2, 5, 4]
})

df1.corrwith(df2)

a    0.94388
b    0.68313
dtype: float64

# 7: Cross-Tabulation

In [9]:
import pandas as pd

network = [
    ("Ben", "Smith"),
    ("Ben", "Patrick"),
    ("Warren", "Jone"),
    ("Warren", "Smith"),
    ("Smith", "Patrick"),
]

# Create a dataframe of the network
friends1 = pd.DataFrame(
    network, columns=["person1", "person2"]
)

# Create the order of the columns
friends2 = pd.DataFrame(
    network, columns=["person2", "person1"]
)

# Create a symmetric dataframe
friends = pd.concat([friends1, friends2])

# Create a cross tabulation
pd.crosstab(friends.person1, friends.person2)

person2  Ben  Jone  Patrick  Smith  Warren
person1
Ben        0     0        1      1       0
Jone       0     0        0      0       1
Patrick    1     0        0      1       0
Smith      1     0        1      0       1
Warren     0     1        0      1       0

# 8: DataFrame.query()

In [10]:
import pandas as pd

df = pd.DataFrame({
    "fruit": ["apple", "orange", "grape", "grape"],
    "price": [4, 5, 6, 7]
})

# Filter using brackets
df[(df.price > 4) & (df.fruit == "grape")]

   fruit  price
2  grape      6
3  grape      7

In [11]:
# Filter using query
df.query("price > 4 & fruit == 'grape'")

   fruit  price
2  grape      6
3  grape      7

# 9: Unpivot DataFrame

In [12]:
import pandas as pd

df = pd.DataFrame({
    "fruit": ["apple", "orange"],
    "Aldi": [4, 5],
    "Walmart": [6, 7],
    "Costco": [1, 2]
})

df

    fruit  Aldi  Walmart  Costco
0   apple     4        6       1
1  orange     5        7       2

In [13]:
# Turn Aldi, Walmart, Costco into values of "store"
df.melt(id_vars=["fruit"],
        value_vars=["Aldi", "Walmart", "Costco"],
        var_name='store')

    fruit    store  value
0   apple     Aldi      4
1  orange     Aldi      5
2   apple  Walmart      6
3  orange  Walmart      7
4   apple   Costco      1
5  orange   Costco      2

# 10: Rename aggregated column

In [14]:
import pandas as pd

df = pd.DataFrame({"size": ["S", "S", "M", "L"],
                   "price": [44, 29.99, 10, 19]})

df.groupby('size').agg({'price': 'mean'})

       price
size
L     19.000
M     10.000
S     36.995

In [15]:
# Assign name to the aggregation
df.groupby('size').agg(
    mean_price=('price', 'mean')
)

      mean_price
size
L         19.000
M         10.000
S         36.995

# 11: Normalized Value Counts

In [16]:
import pandas as pd

size = pd.Series(["S", "S", "M", "L", "S", "XL", "S", "M",])

# Get count of each value
size.value_counts()

S     4
M     2
L     1
XL    1
dtype: int64

In [17]:
# Get percentage of each value
size.value_counts(normalize=True)

S     0.500
M     0.250
L     0.125
XL    0.125
dtype: float64

# 12: df.transform() instead of df.count()

In [18]:
import pandas as pd

df = pd.DataFrame({
    "type": ["A", "A", "O", "B", "O", "A"],
    "value": [5, 3, 2, 1, 7, 3]
})

# Using count will throw an error because the
# Series returned is shorter than the original
# DataFrame

# df.loc[df.groupby("type")["type"].count() > 1]
df.loc[df.groupby("type")["type"].transform("size") > 1]

  type  value
0    A      5
1    A      3
2    O      2
4    O      7
5    A      3

# 13: Fill in Null Values

In [19]:
import pandas as pd

store1 = pd.DataFrame({
    "orange": [None, 5, 9],
    "apple": [4, None, 12]
})

store2 = pd.DataFrame({
    "orange": [31, 52, 91],
    "apple": [11, 71, 21]
})

# Fill null values of the store1 with values at the same
# locations from store2
store1.combine_first(store2)

   orange  apple
0    31.0    4.0
1     5.0   71.0
2     9.0   12.0

# 14: Value Counts Missing Values

In [20]:
import pandas as pd


size = pd.Series(["S", "S", None, "M", "L", "S", None, "XL", "S", "M",])

# Get count of each value, it does not count missing values
size.value_counts()

"""
S     4
M     2
XL    1
L     1
dtype: int64
"""

# pass dropna=False to get missing value count
size.value_counts(dropna=False)
"""
S      4
M      2
NaN    2
XL     1
L      1
dtype: int64
"""

'\nS      4\nM      2\nNaN    2\nXL     1\nL      1\ndtype: int64\n'

# 15: Filter Columns in DataFrame

In [21]:
import pandas as pd

df = pd.DataFrame({'Temp': ['Hot', 'Cold', 'Warm', 'Cold'],
                   'Degree': [35, 3, 15, 2]})
print(df)
"""
   Temp  Degree
0   Hot      35
1  Cold       3
2  Warm      15
3  Cold       2
"""

df = pd.get_dummies(df, columns=['Temp'])
print(df)
"""
   Degree  Temp_Cold  Temp_Hot  Temp_Warm
0      35          0         1          0
1       3          1         0          0
2      15          0         0          1
3       2          1         0          0
"""

print(df.filter(like='Temp', axis=1))
"""
   Temp_Cold  Temp_Hot  Temp_Warm
0          0         1          0
1          1         0          0
2          0         0          1
3          1         0          0
"""

   Temp  Degree
0   Hot      35
1  Cold       3
2  Warm      15
3  Cold       2
   Degree  Temp_Cold  Temp_Hot  Temp_Warm
0      35          0         1          0
1       3          1         0          0
2      15          0         0          1
3       2          1         0          0
   Temp_Cold  Temp_Hot  Temp_Warm
0          0         1          0
1          1         0          0
2          0         0          1
3          1         0          0

'\n   Temp_Cold  Temp_Hot  Temp_Warm\n0          0         1          0\n1          1         0          0\n2          0         0          1\n3          1         0          0\n'

# 16: Convert Data Types Automatically

In [22]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "a": pd.Series([1, 2, 3], dtype=np.dtype("int32")),
        "b": pd.Series(["x", "y", "z"], dtype=np.dtype("O")),
        "c": pd.Series([True, False, np.nan], dtype=np.dtype("O")),
        "d": pd.Series(["h", "i", np.nan], dtype=np.dtype("O")),
        "e": pd.Series([10, np.nan, 20], dtype=np.dtype("float")),
        "f": pd.Series([np.nan, 100.5, 200], dtype=np.dtype("float")),
    }
)

df.dtypes

"""
a      int32
b     object
c     object
d     object
e    float64
f    float64
dtype: object
"""

new_df = df.convert_dtypes()
new_df.dtypes
"""
a      Int32
b     string
c    boolean
d     string
e      Int64
f    Float64
dtype: object
"""

'\na      Int32\nb     string\nc    boolean\nd     string\ne      Int64\nf    Float64\ndtype: object\n'

# 17: Assign new columns to a DataFrame

In [23]:
import pandas as pd


time_sentences = ["Saturday: Weekend (Not working day)",
                  "Sunday: Weekend (Not working day)",
                  "Monday: Doctor appointment at 2:45pm.",
                  "Tuesday: Dentist appointment at 11:30 am.",
                  "Wednesday: basketball game At 7:00pm",
                  "Thursday: Back home by 11:15 pm.",
                  "Friday: Take the train at 08:10 am."]

df = pd.DataFrame(time_sentences, columns=['text'])

# Use Assign instead of using direct assignment 
# df['text'] = df.text.str.lower()
# df['text_len'] = df.text.str.len()
# df['word_count'] = df.text.str.count(" ") + 1
# df['weekend'] = df.text.str.contains("saturday|sunday", case=False)
print((
    df
    .assign(text=df.text.str.lower(),
            text_len=df.text.str.len(),
            word_count=df.text.str.count(" ") + 1,
            weekend=df.text.str.contains("saturday|sunday", case=False),
           )
))

"""
                                        text  text_len  word_count  weekend
0        saturday: weekend (not working day)        35           5     True
1          sunday: weekend (not working day)        33           5     True
2      monday: doctor appointment at 2:45pm.        37           5    False
3  tuesday: dentist appointment at 11:30 am.        41           6    False
4       wednesday: basketball game at 7:00pm        36           5    False
5           thursday: back home by 11:15 pm.        32           6    False
6        friday: take the train at 08:10 am.        35           7    False
"""

                                        text  text_len  word_count  weekend
0        saturday: weekend (not working day)        35           5     True
1          sunday: weekend (not working day)        33           5     True
2      monday: doctor appointment at 2:45pm.        37           5    False
3  tuesday: dentist appointment at 11:30 am.        41           6    False
4       wednesday: basketball game at 7:00pm        36           5    False
5           thursday: back home by 11:15 pm.        32           6    False
6        friday: take the train at 08:10 am.        35           7    False

'\n                                        text  text_len  word_count  weekend\n0        saturday: weekend (not working day)        35           5     True\n1          sunday: weekend (not working day)        33           5     True\n2      monday: doctor appointment at 2:45pm.        37           5    False\n3  tuesday: dentist appointment at 11:30 am.        41           6    False\n4       wednesday: basketball game at 7:00pm        36           5    False\n5           thursday: back home by 11:15 pm.        32           6    False\n6        friday: take the train at 08:10 am.        35           7    False\n'

# 18: Read HTML Tables

In [25]:
# import pandas as pd

# # Without a marcher we will get a list of all tables in the 
# # page. To make a table selection, pass table title to the 
# # match parameter
# table = pd.read_html(
#     "https://en.wikipedia.org/wiki/Minnesota", 
#     match="Election results from statewide races"
# )

# print(table[0].head())


# table = pd.read_html(
#     "https://en.wikipedia.org/wiki/Minnesota", 
#     match="Average daily"
# )

# print(table[0].head())

# 19: ‘nlargest’ and ‘nsmallest ‘

In [26]:
# import pandas as pd

# df = pd.read_csv('data/imdbratings.csv',
#                  usecols=['star_rating', 'title', 'genre', 'duration'])

# print(df.head())
# """
#    star_rating                     title   genre  duration
# 0          9.3  The Shawshank Redemption   Crime       142
# 1          9.2             The Godfather   Crime       175
# 2          9.1    The Godfather: Part II   Crime       200
# 3          9.0           The Dark Knight  Action       152
# 4          8.9              Pulp Fiction   Crime       154
# """

# print(df.nlargest(5, "duration"))
# """
#      star_rating                              title      genre  duration
# 476          7.8                             Hamlet      Drama       242
# 157          8.2                 Gone with the Wind      Drama       238
# 78           8.4        Once Upon a Time in America      Crime       229
# 142          8.3  Lagaan: Once Upon a Time in India  Adventure       224
# 445          7.9               The Ten Commandments  Adventure       220
# """

# print(df.nsmallest(5, "duration"))
# """
#      star_rating                        title    genre  duration
# 389          8.0                       Freaks    Drama        64
# 338          8.0          Battleship Potemkin  History        66
# 258          8.1  The Cabinet of Dr. Caligari    Crime        67
# 88           8.4                      The Kid   Comedy        68
# 293          8.1                    Duck Soup   Comedy        68
# """

# 20: Create a Rank Column

In [27]:
import pandas as pd

df = pd.DataFrame({'Students': ['John', 'Smith', 'Patrick', 'Bob', 'Jose'],
                   'Marks': [80, 56, 95, 75, 45]})
print(df)

df["Rank"] = df["Marks"].rank(ascending=False)
print(df)

  Students  Marks
0     John     80
1    Smith     56
2  Patrick     95
3      Bob     75
4     Jose     45
  Students  Marks  Rank
0     John     80   2.0
1    Smith     56   4.0
2  Patrick     95   1.0
3      Bob     75   3.0
4     Jose     45   5.0

# 21: Color Values in DataFrame

In [28]:
import pandas as pd

df = pd.DataFrame({'Students': ['John', 'Smith', 'Patrick', 'Bob', 'Jose'],
                   'Physics': [80, 56, 95, 75, 45], 
                   'Mathematics': [90, 85, 55, 65, 75]})
df.set_index('Students', inplace=True)
df

          Physics  Mathematics
Students
John           80           90
Smith          56           85
Patrick        95           55
Bob            75           65
Jose           45           75

In [29]:
def pass_condition(val):
    color = 'blue' if val > 70 else 'red'
    return f"background-color: {color}"

df.style.applymap(pass_condition)