[Reference](https://towardsdatascience.com/7-functions-you-can-use-to-create-new-columns-in-a-pandas-dataframe-a6b480cf8b30)

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({    "division": ["A", "B", "A", "C", "B"],
    "category": ["101-A", "14-C", "1020-D", "112-A", "11-A"],
    "mes1": np.random.randint(10, 40, size=5),
    "mes2": np.random.randint(10, 60, size=5),
    "mes3": np.random.randint(10, 100, size=5)
    
})
df

  division category  mes1  mes2  mes3
0        A    101-A    20    33    32
1        B     14-C    37    54    56
2        A   1020-D    34    32    57
3        C    112-A    21    28    37
4        B     11-A    31    58    44

# 1. Pandas where

In [2]:
df["mes_updated"] = df["mes1"].where(
    
    df["mes2"] <= 50, 
    df["mes1"] + 10)

df[["mes1", "mes2", "mes_updated"]]

   mes1  mes2  mes_updated
0    20    33           20
1    37    54           47
2    34    32           34
3    21    28           21
4    31    58           41

# 2. NumPy where

In [3]:
df["mes_updated_2"] = np.where(
    
    df["mes2"] <= 50, 
    df["mes1"] - 10,
    df["mes1"] + 10)

df[["mes1", "mes2", "mes_updated_2"]]

   mes1  mes2  mes_updated_2
0    20    33             10
1    37    54             47
2    34    32             24
3    21    28             11
4    31    58             41

# 3. NumPy select

In [4]:
conditions = [
    
  (df["division"] == "A") & (df["mes1"] > 10),
  (df["division"] == "B") & (df["mes1"] > 10)
    
]

values = [1, 2]
df["select_col"] = np.select(conditions, values, default=0)
df[["division", "mes1", "select_col"]]

  division  mes1  select_col
0        A    20           1
1        B    37           2
2        A    34           1
3        C    21           0
4        B    31           2

# 4. Pandas assign

In [5]:
df = df.assign(
    
    cat1 = df["category"].str.split("-", expand=True)[0],
    mes_all = lambda x: x.mes1 ** 2 + x.mes2 * 10 + x.mes3,
    id = [1, 2, 3, 4, 5])

# 5. Pandas insert

In [7]:
# df.insert(0, "id", [1, 2, 3, 4, 5])
# df

# 6. Pandas split

In [8]:
df[["cat1","cat2"]] = df["category"].str.split("-", expand=True)
df[["category","cat1","cat2"]]

  category  cat1 cat2
0    101-A   101    A
1     14-C    14    C
2   1020-D  1020    D
3    112-A   112    A
4     11-A    11    A

# 7. Pandas cat

In [9]:
df["category"] = df["cat1"].str.cat(df["cat2"], sep="-")