[Reference](https://medium.com/datadriveninvestor/google-drive-data-directly-to-your-jupyter-otebook-without-authenticating-5a95e271bc89)

In [1]:
import pandas as pd

https://drive.google.com/file/d/<b>1tBH2vejM64XqxxEum6966A6a7iGN_6Kd</b>/view?usp=sharing

https://drive.google.com/uc?export=download&id=<b>YOUR_FILE_ID</b>

In [2]:
LINK  = "https://drive.google.com/uc?export=download&id=YOUR_FILE_ID"

In [4]:
pd.read_csv(LINK)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]