[Reference](https://medium.com/practical-pandas/pandas-list-to-dataframe-5-ways-to-convert-list-to-dataframe-in-python-3af229cb9355)

In [1]:
import pandas as pd

In [2]:
employees = ["Bob", "Mark", "Jane", "Patrick"]

data = pd.DataFrame(employees)
data

         0
0      Bob
1     Mark
2     Jane
3  Patrick

In [3]:
employees = ["Bob", "Mark", "Jane", "Patrick"]

data = pd.DataFrame(employees, columns=["First Name"])
data

  First Name
0        Bob
1       Mark
2       Jane
3    Patrick

In [4]:
e_first_names = ["Bob", "Mark", "Jane", "Patrick"]
e_last_names = ["Doe", "Markson", "Swift", "Johnson"]

data = pd.DataFrame(
 data=list(zip(e_first_names, e_last_names)),
 columns=["First Name", "Last Name"]
)
data

  First Name Last Name
0        Bob       Doe
1       Mark   Markson
2       Jane     Swift
3    Patrick   Johnson

In [5]:
e_first_names = ["Bob", "Mark", "Jane", "Patrick"]
e_last_names = ["Doe", "Markson", "Swift", "Johnson"]
e_emails = ["bdoe@company.com", "mmarkson@company.com", "jswift@company.com", "pjohnson@company.com"]

data = pd.DataFrame(
 data=list(zip(e_first_names, e_last_names, e_emails)),
 columns=["First Name", "Last Name", "Email"]
)
data

  First Name Last Name                 Email
0        Bob       Doe      bdoe@company.com
1       Mark   Markson  mmarkson@company.com
2       Jane     Swift    jswift@company.com
3    Patrick   Johnson  pjohnson@company.com

In [6]:
employees = [
 ["Bob", "Doe", "bdoe@company.com"],
 ["Mark", "Markson", "mmarkson@company.com"],
 ["Jane", "Swift", "jswift@company.com"],
 ["Patrick", "Johnson", "pjohnson@company.com"]
]
 
data = pd.DataFrame(
 data=employees,
 columns=["First Name", "Last Name", "Email"]
)
data

  First Name Last Name                 Email
0        Bob       Doe      bdoe@company.com
1       Mark   Markson  mmarkson@company.com
2       Jane     Swift    jswift@company.com
3    Patrick   Johnson  pjohnson@company.com

In [7]:
employees = {
 "First Name": ["Bob", "Mark", "Jane", "Patrick"],
 "Last Name": ["Doe", "Markson", "Swift", "Johnson"],
 "Email": ["bdoe@company.com", "mmarkson@company.com", "jswift@company.com", "pjohnson@company.com"]
}

data = pd.DataFrame(employees)
data

  First Name Last Name                 Email
0        Bob       Doe      bdoe@company.com
1       Mark   Markson  mmarkson@company.com
2       Jane     Swift    jswift@company.com
3    Patrick   Johnson  pjohnson@company.com

In [8]:
employees = [
 ["Bob", "Doe", "bdoe@company.com"],
 ["Mark", "Markson", "mmarkson@company.com"],
 ["Jane", "Swift", "jswift@company.com"],
 ["Patrick", "Johnson", "pjohnson@company.com"]
]

data = pd.DataFrame.from_records(employees)
data

         0        1                     2
0      Bob      Doe      bdoe@company.com
1     Mark  Markson  mmarkson@company.com
2     Jane    Swift    jswift@company.com
3  Patrick  Johnson  pjohnson@company.com

In [9]:
employees = [
 ["Bob", "Doe", "bdoe@company.com"],
 ["Mark", "Markson", "mmarkson@company.com"],
 ["Jane", "Swift", "jswift@company.com"],
 ["Patrick", "Johnson", "pjohnson@company.com"]
]

data = pd.DataFrame.from_records(employees, columns=["First Name", "Last Name", "Email"])
data

  First Name Last Name                 Email
0        Bob       Doe      bdoe@company.com
1       Mark   Markson  mmarkson@company.com
2       Jane     Swift    jswift@company.com
3    Patrick   Johnson  pjohnson@company.com