[Reference](https://medium.com/@akaivdo/how-to-split-one-column-to-multiple-columns-in-pandas-3c857b47fbde)

In [1]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Kevin", "Jack", "Mary"],
    "height-weight": ["180,75", "175,70", "165,60"],
    "score": ["88,90,76", "85,88,80", "90,90,90"],
    "Interests": ["Writing, Sports", "Sports, Traveling", "Violin, Reading"]
}, index=["K", "J", "M"])

df

    name height-weight     score          Interests
K  Kevin        180,75  88,90,76    Writing, Sports
J   Jack        175,70  85,88,80  Sports, Traveling
M   Mary        165,60  90,90,90    Violin, Reading

In [2]:
df["height-weight"].str.split(",")

K    [180, 75]
J    [175, 70]
M    [165, 60]
Name: height-weight, dtype: object

In [3]:
df[["height", "weight"]] = df["height-weight"].str.split(",", expand=True)
df

    name height-weight     score          Interests height weight
K  Kevin        180,75  88,90,76    Writing, Sports    180     75
J   Jack        175,70  85,88,80  Sports, Traveling    175     70
M   Mary        165,60  90,90,90    Violin, Reading    165     60

In [4]:
df2 = pd.concat([df["name"], df["height-weight"].str.split(",", expand=True)], axis=1)
df2

    name    0   1
K  Kevin  180  75
J   Jack  175  70
M   Mary  165  60

In [5]:
df2.rename(columns={0: 'height', 1: 'weight'}, inplace=True)
df2

    name height weight
K  Kevin    180     75
J   Jack    175     70
M   Mary    165     60

In [6]:
df["score"].str.extract("(\d+),(\d+),(\d+)", expand=True)

    0   1   2
K  88  90  76
J  85  88  80
M  90  90  90