[Reference](https://moez-62905.medium.com/the-hidden-gems-of-pandas-5-lesser-known-functions-you-need-to-try-9fd20727e4c)

# 1. pandas lookup

In [1]:
import pandas as pd
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data, index=['X', 'Y', 'Z'])
df

   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

In [2]:
result = df.lookup(['X', 'Y', 'Z'], ['A', 'B', 'C'])
result

<ipython-input-2-94d1dbd7a36b>:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  result = df.lookup(['X', 'Y', 'Z'], ['A', 'B', 'C'])

array([1, 5, 9])

# 2. pandas melt

In [3]:
import pandas as pd
data = {'name': ['John', 'Jane'], 'age': [30, 25], 'salary': [50000, 60000]}
df = pd.DataFrame(data)
df

   name  age  salary
0  John   30   50000
1  Jane   25   60000

In [4]:
melted_df = pd.melt(df, id_vars=['name'], value_vars=['age', 'salary'], var_name='variable', value_name='value')
melted_df

   name variable  value
0  John      age     30
1  Jane      age     25
2  John   salary  50000
3  Jane   salary  60000

# 3. pandas cut

In [5]:
import pandas as pd

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
bins = [0, 3, 6, 10]

binned_data = pd.cut(data, bins, labels=['Low', 'Mid', 'High'])
print(binned_data)

['Low', 'Low', 'Low', 'Mid', 'Mid', 'Mid', 'High', 'High', 'High', 'High']
Categories (3, object): ['Low' < 'Mid' < 'High']

# 4. pandas filter

In [6]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

filtered_df = df.filter(like='A', axis=1)
filtered_df

   A
0  1
1  2
2  3

# 5. pandas style background_gradient

In [7]:
import pandas as pd
import numpy as np

data = np.random.rand(5, 5)
df = pd.DataFrame(data)

styled_df = df.style.background_gradient(cmap='Blues')
styled_df

# BONUS: pandas interpolate

In [8]:
import pandas as pd
data = {'A': [1, 2, None, 4, None], 'B': [5, None, 7, None, 9]}
df = pd.DataFrame(data)

In [9]:
interpolated_df = df.interpolate()
interpolated_df

     A    B
0  1.0  5.0
1  2.0  6.0
2  3.0  7.0
3  4.0  8.0
4  4.0  9.0