In [1]:
import pandas as pd

data = pd.read_html("https://en.wikipedia.org/wiki/Super_Bowl_LIV")

In [2]:
print(len(data))

25

In [3]:
data[6]

                           Statistic San Francisco 49ers Kansas City Chiefs
0                        First downs                  21                 26
1                First downs rushing                   8                 12
2                First downs passing                  13                 13
3                First downs penalty                   0                  1
4              Third down efficiency                 3/8               6/14
5             Fourth down efficiency                 0/1                2/3
6                    Total net yards                 351                397
7                  Net yards rushing                 141                129
8                   Rushing attempts                  22                 29
9                     Yards per rush                 6.4                4.4
10                     Yards passing                 210                286
11      Passing–completions/attempts               20/31              26/42
12          Times sacked–total yards                 1–9               4–18
13              Interceptions thrown                   2                  2
14          Punt returns–total yards                 1–0                0–0
15       Kickoff returns–total yards                4–61               3–58
16  Interceptions–total return yards                2–10               2–11
17             Punts–average yardage                2–43               2–40
18                      Fumbles–lost                 1–0                3–0
19                   Penalties–yards                5–45               4–24
20                Time of possession               26:47              33:13
21                         Turnovers                   2                  2

In [4]:
data[4]

                                      Scoring summary  ... Unnamed: 8
0   Quarter Time Drive Team Scoring information Sc...  ...        NaN
1                                             Quarter  ...      Score
2                                             Quarter  ...         KC
3                                                   1  ...          0
4                                                   1  ...          7
5                                                   2  ...         10
6                                                   2  ...         10
7                                                   3  ...         10
8                                                   3  ...         10
9                                                   4  ...         17
10                                                  4  ...         24
11                                                  4  ...         31
12  "TOP" = time of possession. For other American...  ...         31

[13 rows x 9 columns]

In [5]:
df = data[4]

In [7]:
df = df.drop([0,1,12],axis=0)

In [8]:
df

   Scoring summary Unnamed: 1  ... Unnamed: 7 Unnamed: 8
2          Quarter       Time  ...         SF         KC
3                1       7:57  ...          3          0
4                1       0:31  ...          3          7
5                2       9:32  ...          3         10
6                2       5:05  ...         10         10
7                3       9:29  ...         13         10
8                3       2:35  ...         20         10
9                4       6:13  ...         20         17
10               4       2:44  ...         20         24
11               4       1:12  ...         20         31

[10 rows x 9 columns]

In [9]:
df.iloc[0]

Scoring summary                Quarter
Unnamed: 1                        Time
Unnamed: 2                       Plays
Unnamed: 3                       Yards
Unnamed: 4                         TOP
Unnamed: 5                        Team
Unnamed: 6         Scoring information
Unnamed: 7                          SF
Unnamed: 8                          KC
Name: 2, dtype: object

In [10]:
df.columns = list(df.iloc[0])

In [11]:
df

    Quarter  Time  ...  SF  KC
2   Quarter  Time  ...  SF  KC
3         1  7:57  ...   3   0
4         1  0:31  ...   3   7
5         2  9:32  ...   3  10
6         2  5:05  ...  10  10
7         3  9:29  ...  13  10
8         3  2:35  ...  20  10
9         4  6:13  ...  20  17
10        4  2:44  ...  20  24
11        4  1:12  ...  20  31

[10 rows x 9 columns]

In [12]:
df = df.drop(2, axis=0)

In [13]:
df

   Quarter  Time  ...  SF  KC
3        1  7:57  ...   3   0
4        1  0:31  ...   3   7
5        2  9:32  ...   3  10
6        2  5:05  ...  10  10
7        3  9:29  ...  13  10
8        3  2:35  ...  20  10
9        4  6:13  ...  20  17
10       4  2:44  ...  20  24
11       4  1:12  ...  20  31

[9 rows x 9 columns]

In [14]:
df = df.reset_index(drop=True)

In [15]:
def score_table(table):
  tabel = table.drop(len(table)-1)
  table = table.drop([0,1])
  table.columns = list(table.iloc[0])
  table = table.drop(2)
  table = table.reset_index(drop=True)
  return table

In [16]:
data = pd.read_html("https://en.wikipedia.org/wiki/Super_Bowl_LIV")
score_table(data[4])

                                             Quarter  ...  KC
0                                                  1  ...   0
1                                                  1  ...   7
2                                                  2  ...  10
3                                                  2  ...  10
4                                                  3  ...  10
5                                                  3  ...  10
6                                                  4  ...  17
7                                                  4  ...  24
8                                                  4  ...  31
9  "TOP" = time of possession. For other American...  ...  31

[10 rows x 9 columns]

In [18]:
url = "https://en.m.wikipedia.org/wiki/La_Liga"
data = pd.read_html(url)

In [19]:
data[0]

                       0                                             1
0                    NaN                                           NaN
1        Organising body  Liga Nacional de Fútbol Profesional(La Liga)
2                Founded                            1929; 91 years ago
3                Country                                         Spain
4          Confederation                                          UEFA
5        Number of teams                                            20
6       Level on pyramid                                             1
7          Relegation to                              Segunda División
8        Domestic cup(s)               Copa del ReySupercopa de España
9   International cup(s)       UEFA Champions LeagueUEFA Europa League
10     Current champions              Barcelona (26th title) (2018–19)
11    Most championships                       Real Madrid (33 titles)
12      Most appearances                       Andoni Zubizarreta(622)
13        Top goalscorer                             Lionel Messi(440)
14           TV partners                          List of broadcasters
15               Website                                     laliga.es
16       2019–20 La Liga                               2019–20 La Liga

In [20]:
data[1]

  Period (in years) No. of clubs
0         1929–1934     10 clubs
1         1934–1941     12 clubs
2         1941–1950     14 clubs
3         1950–1971     16 clubs
4         1971–1987     18 clubs
5         1987–1995     20 clubs
6         1995–1997     22 clubs
7      1997–present     20 clubs

In [21]:
data[2]

  Rank2019 Rank2018 Change    League 2014–15  ... Places in Europa League
  Rank2019 Rank2018 Change    League 2014–15  ...                      PO Q3 Q2 Q1 PQ
0        1        1      =     Spain  20.214  ...                       —  —  1  —  —
1        2        2      =   England  13.571  ...                       —  —  1  —  —
2        3        3      =     Italy  19.000  ...                       —  —  1  —  —
3        4        4      =   Germany  15.857  ...                       —  —  1  —  —
4        5        5      =    France  10.916  ...                       —  —  1  —  —
5        6        6      =    Russia   9.666  ...                       —  1  1  —  —
6        7        7      =  Portugal   9.083  ...                       —  1  1  —  —
7        8        8      =   Ukraine  10.000  ...                       —  1  1  —  —
8        9        9      =   Belgium   9.600  ...                       —  1  1  —  —
9       10       10      =    Turkey   6.000  ...                       —  1  1  —  —

[10 rows x 22 columns]