[Reference](https://python.plainenglish.io/adding-a-progress-bar-with-just-two-lines-of-python-code-42f3b2223255)

# Installing and importing tqdm

In [1]:
pip install tqdm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (4.64.1)

In [2]:
from tqdm import tqdm
for i in tqdm(range(10000)):
    pass

100%|██████████| 10000/10000 [00:00<00:00, 1443325.53it/s]

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
df = pd.DataFrame(np.random.randint(0, 100, (100000, 1000))) 
tqdm.pandas(desc='Processing Dataframe')
df.progress_apply(lambda x: (x+3)**3)

Processing Dataframe: 100%|██████████| 1000/1000 [00:03<00:00, 286.08it/s]

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,658503,250047,456533,59319,166375,216,21952,474552,27000,68921,...,166375,512000,27000,729,166375,185193,125000,216000,97336,704969
1,681472,68921,884736,39304,4913,68921,35937,8000,658503,42875,...,970299,15625,658503,857375,512000,216000,24389,970299,97336,8000
2,10648,681472,19683,970299,941192,2744,729000,1728,19683,59319,...,117649,4913,1030301,74088,778688,103823,343,35937,4913,373248
3,2744,157464,64000,117649,157464,205379,681472,185193,8000,17576,...,9261,175616,314432,132651,85184,343,753571,493039,4096,287496
4,614125,357911,39304,421875,389017,357911,46656,50653,941192,912673,...,54872,681472,27000,59319,110592,729,857375,42875,216000,2197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,64000,681472,117649,1030301,778688,140608,804357,456533,9261,1728,...,132651,91125,512,29791,2197,343000,636056,64000,373248,373248
99996,438976,438976,941192,27,39304,4096,571787,68921,274625,912673,...,91125,1061208,110592,74088,79507,13824,17576,91125,117649,205379
99997,250047,74088,704969,753571,29791,10648,1331,27000,216,132651,...,32768,91125,9261,456533,343,1000000,21952,1728,343000,389017
99998,110592,941192,68921,778688,226981,2197,4096,185193,97336,226981,...,438976,1331,287496,97336,2744,343000,250047,343000,493039,729000
99999,195112,421875,125000,46656,274625,1030301,328509,97336,3375,729000,...,1000,328509,2197,1728,59319,205379,50653,27,15625,857375