[Reference](https://medium.com/@akaivdo/how-to-use-map-apply-applymap-methods-in-pandas-ddde5f2140bd)

In [1]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Kevin", "Jack", "Mary", "Bob", "Robert", "Amy"],
    "score": [66, 75, 80, 93, 77, 81],
    "sex": ["M", "M", "F", "M", "M", "F"],
})
df

     name  score sex
0   Kevin     66   M
1    Jack     75   M
2    Mary     80   F
3     Bob     93   M
4  Robert     77   M
5     Amy     81   F

In [2]:
df["say-hello"] = df["sex"].map({"M": "Hello, Mr.", "F": "Hello, Ms."})
df

     name  score sex   say-hello
0   Kevin     66   M  Hello, Mr.
1    Jack     75   M  Hello, Mr.
2    Mary     80   F  Hello, Ms.
3     Bob     93   M  Hello, Mr.
4  Robert     77   M  Hello, Mr.
5     Amy     81   F  Hello, Ms.

In [3]:
nick_name = pd.Series(['K', 'J', 'M', 'B', 'R', 'A'], index=df["name"])
df["nick-name"] = df["name"].map(nick_name)
df

     name  score sex   say-hello nick-name
0   Kevin     66   M  Hello, Mr.         K
1    Jack     75   M  Hello, Mr.         J
2    Mary     80   F  Hello, Ms.         M
3     Bob     93   M  Hello, Mr.         B
4  Robert     77   M  Hello, Mr.         R
5     Amy     81   F  Hello, Ms.         A

In [4]:
# The function that map score to grade
def get_grade(score):
    # Firstly convert score to float type
    try:
        num = float(score)
        if num < 60.0:
            return "D"
        if num < 80.0:
            return "C"
        if num < 90.0:
            return "B"
        else:
            return "A"
    except ValueError:
        # If converting failed, return empty string
        return ""

df["grade_func"] = df["score"].map(get_grade)
df

     name  score sex   say-hello nick-name grade_func
0   Kevin     66   M  Hello, Mr.         K          C
1    Jack     75   M  Hello, Mr.         J          C
2    Mary     80   F  Hello, Ms.         M          B
3     Bob     93   M  Hello, Mr.         B          A
4  Robert     77   M  Hello, Mr.         R          C
5     Amy     81   F  Hello, Ms.         A          B

In [5]:
df["say-hello-msg"] = df["name"].map(lambda x: f"Hello, {x}!")
df

     name  score sex   say-hello nick-name grade_func   say-hello-msg
0   Kevin     66   M  Hello, Mr.         K          C   Hello, Kevin!
1    Jack     75   M  Hello, Mr.         J          C    Hello, Jack!
2    Mary     80   F  Hello, Ms.         M          B    Hello, Mary!
3     Bob     93   M  Hello, Mr.         B          A     Hello, Bob!
4  Robert     77   M  Hello, Mr.         R          C  Hello, Robert!
5     Amy     81   F  Hello, Ms.         A          B     Hello, Amy!

In [6]:
df["greeting-msg"] = df.apply(lambda row: f"Welcome, {'Mr.' if row['sex'] == 'M' else 'Ms.'} {row['name']}", axis=1)

In [7]:
def check_excellent(score):
    # Firstly convert score to float type
    try:
        num = float(score)
        if num > 90.0:
            return "Excellent"
        else:
            return ""
    except ValueError:
        # If converting failed, return empty string
        return ""

df["excellent"] = df["score"].apply(check_excellent)
df

     name  score sex  ...   say-hello-msg         greeting-msg  excellent
0   Kevin     66   M  ...   Hello, Kevin!   Welcome, Mr. Kevin
1    Jack     75   M  ...    Hello, Jack!    Welcome, Mr. Jack
2    Mary     80   F  ...    Hello, Mary!    Welcome, Ms. Mary
3     Bob     93   M  ...     Hello, Bob!     Welcome, Mr. Bob  Excellent
4  Robert     77   M  ...  Hello, Robert!  Welcome, Mr. Robert
5     Amy     81   F  ...     Hello, Amy!     Welcome, Ms. Amy

[6 rows x 9 columns]

In [8]:
df[["name", "say-hello"]] = df[["name", "say-hello"]].applymap(lambda x: x.upper())
df

     name  score sex  ...   say-hello-msg         greeting-msg  excellent
0   KEVIN     66   M  ...   Hello, Kevin!   Welcome, Mr. Kevin
1    JACK     75   M  ...    Hello, Jack!    Welcome, Mr. Jack
2    MARY     80   F  ...    Hello, Mary!    Welcome, Ms. Mary
3     BOB     93   M  ...     Hello, Bob!     Welcome, Mr. Bob  Excellent
4  ROBERT     77   M  ...  Hello, Robert!  Welcome, Mr. Robert
5     AMY     81   F  ...     Hello, Amy!     Welcome, Ms. Amy

[6 rows x 9 columns]