[Reference](https://medium.com/data-folks-indonesia/create-mini-project-using-pandas-the-financial-information-grabber-d22fdbd18b5d)

![pnadas](https://miro.medium.com/max/1400/1*DeJJha8j8ASEWtUjM1T4TQ.png)

In [3]:
import pandas as pd
df_country = pd.read_html("https://tradingeconomics.com/matrix")[0]
df_country

,Country,GDP,GDP YoY,GDP QoQ,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
0,United States,22996,3.5,-1.6,1.75,8.60,3.6,-16.7,137.2,-3.6,332.40
1,China,17734,4.8,1.3,3.70,2.10,5.9,-3.7,66.8,1.8,1412.60
2,Euro Area,14493,5.4,0.6,0.00,8.60,6.6,-5.1,95.6,3.0,342.41
3,Japan,4937,0.2,-0.1,-0.10,2.50,2.6,-12.6,266.2,3.2,125.31
4,Germany,4223,3.8,0.2,0.00,7.60,5.3,-3.7,69.3,7.0,83.17
...,...,...,...,...,...,...,...,...,...,...,...
176,Guinea Bissau,2,5.8,NaN,4.00,6.70,3.2,-7.8,36.5,-8.6,1.96
177,Comoros,1,2.2,NaN,0.92,3.59,9.4,-2.9,31.1,-3.3,0.87
178,Sao Tome and Principe,1,1.8,NaN,9.00,14.90,15.9,-5.0,103.0,-9.3,0.21
179,South Sudan,1,-6.0,NaN,12.00,-4.29,13.9,NaN,NaN,NaN,11.19
180,Seychelles,1,14.0,NaN,2.00,2.10,3.0,-19.1,94.0,-27.4,0.10

In [4]:
market_info = df_country.loc[df_country["Country"] == "United States"]

In [5]:
for col in market_info:
    print(market_info[col].name, ":", market_info[col].values[0])

Country : United States
GDP : 22996
GDP YoY : 3.5
GDP QoQ : -1.6
Interest Rate : 1.75
Inflation Rate : 8.6
Jobless Rate : 3.6
Gov. Budget : -16.7
Debt/GDP : 137.2
Current Account : -3.6
Population : 332.4

In [8]:
[(f"{market_info[col].name}: {market_info[col].values[0]}") for col in market_info]

['Country: United States',
 'GDP: 22996',
 'GDP YoY: 3.5',
 'GDP QoQ: -1.6',
 'Interest Rate: 1.75',
 'Inflation Rate: 8.6',
 'Jobless Rate: 3.6',
 'Gov. Budget: -16.7',
 'Debt/GDP: 137.2',
 'Current Account: -3.6',
 'Population: 332.4']

In [12]:
def country_info(country):
    df_country = pd.read_html("https://tradingeconomics.com/matrix")[0]
    info = df_country.loc[df_country["Country"] == country]
    country_check = (df_country[df_country["Country"] == country]).all(1).any()

    ## Use for creating country.txt (List for all available country)
    # with open("country.txt", "w") as f:
    #     f.write(f"{df_country.Country.values}\n")

    if country_check == True:
        info = df_country.loc[df_country["Country"] == country]
        for col in info:
            print(f"{info[col].name}: {info[col].values[0]}")
    else:
        print(f"Country not found, read country.txt for more information")

    return [(f"{info[col].name}: {info[col].values[0]}") for col in info]


country = input("Country want to search: ")
country_info(country)

Country want to search: India
Country: India
GDP: 3173
GDP YoY: 4.1
GDP QoQ: 0.8
Interest Rate: 4.9
Inflation Rate: 7.04
Jobless Rate: 7.8
Gov. Budget: -9.4
Debt/GDP: 73.95
Current Account: -1.7
Population: 1380.0

['Country: India',
 'GDP: 3173',
 'GDP YoY: 4.1',
 'GDP QoQ: 0.8',
 'Interest Rate: 4.9',
 'Inflation Rate: 7.04',
 'Jobless Rate: 7.8',
 'Gov. Budget: -9.4',
 'Debt/GDP: 73.95',
 'Current Account: -1.7',
 'Population: 1380.0']