[Reference](https://towardsdatascience.com/pandas-data-manipulation-functions-7b3519fc1370)

In [1]:
from sklearn import datasets
import pandas as pd

iris_data = datasets.load_iris()
df_iris = pd.DataFrame(iris_data.data,columns=iris_data.feature_names)
df_iris['target'] = pd.Series(iris_data.target)
df_iris.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [3]:
df_iris['sepal_width_sepal_length_ratio'] = df_iris['sepal length (cm)'] / df_iris['sepal width (cm)']
df_iris.head()

   sepal length (cm)  sepal width (cm)  ...  target  sepal_width_sepal_length_ratio
0                5.1               3.5  ...       0                        1.457143
1                4.9               3.0  ...       0                        1.633333
2                4.7               3.2  ...       0                        1.468750
3                4.6               3.1  ...       0                        1.483871
4                5.0               3.6  ...       0                        1.388889

[5 rows x 6 columns]

In [4]:
import math
df_iris['sepal_length_log'] = df_iris['sepal length (cm)'].apply(math.log)
df_iris.head()

   sepal length (cm)  ...  sepal_length_log
0                5.1  ...          1.629241
1                4.9  ...          1.589235
2                4.7  ...          1.547563
3                4.6  ...          1.526056
4                5.0  ...          1.609438

[5 rows x 7 columns]

In [5]:
df_iris['all_dimensions'] = df_iris.drop('target', axis=1).apply(sum, axis=1)
df_iris.head()

   sepal length (cm)  sepal width (cm)  ...  sepal_length_log  all_dimensions
0                5.1               3.5  ...          1.629241       13.286383
1                4.9               3.0  ...          1.589235       12.722569
2                4.7               3.2  ...          1.547563       12.416313
3                4.6               3.1  ...          1.526056       12.409927
4                5.0               3.6  ...          1.609438       13.198327

[5 rows x 8 columns]

In [6]:
def sepal_sum(row):
    return row['sepal length (cm)'] + row['sepal width (cm)']

In [7]:
df_iris['sepal_dimensions'] = df_iris.drop('target', axis=1).apply(sepal_sum, axis=1)
df_iris.head()

   sepal length (cm)  sepal width (cm)  ...  all_dimensions  sepal_dimensions
0                5.1               3.5  ...       13.286383               8.6
1                4.9               3.0  ...       12.722569               7.9
2                4.7               3.2  ...       12.416313               7.9
3                4.6               3.1  ...       12.409927               7.7
4                5.0               3.6  ...       13.198327               8.6

[5 rows x 9 columns]

In [8]:
def add_one(item):
    return item + 1

In [9]:
df_iris.drop('target', axis=1).applymap(add_one).head()

   sepal length (cm)  sepal width (cm)  ...  all_dimensions  sepal_dimensions
0                6.1               4.5  ...       14.286383               9.6
1                5.9               4.0  ...       13.722569               8.9
2                5.7               4.2  ...       13.416313               8.9
3                5.6               4.1  ...       13.409927               8.7
4                6.0               4.6  ...       14.198327               9.6

[5 rows x 8 columns]

In [10]:
import math
df_iris['sepal_length_log'] = df_iris['sepal length (cm)'].map(math.log)
df_iris.head()

   sepal length (cm)  sepal width (cm)  ...  all_dimensions  sepal_dimensions
0                5.1               3.5  ...       13.286383               8.6
1                4.9               3.0  ...       12.722569               7.9
2                4.7               3.2  ...       12.416313               7.9
3                4.6               3.1  ...       12.409927               7.7
4                5.0               3.6  ...       13.198327               8.6

[5 rows x 9 columns]

In [11]:
df_iris.target = df_iris.target.map({0: 'species1', 1: 'species2'})
df_iris.head()

   sepal length (cm)  sepal width (cm)  ...  all_dimensions  sepal_dimensions
0                5.1               3.5  ...       13.286383               8.6
1                4.9               3.0  ...       12.722569               7.9
2                4.7               3.2  ...       12.416313               7.9
3                4.6               3.1  ...       12.409927               7.7
4                5.0               3.6  ...       13.198327               8.6

[5 rows x 9 columns]